.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #EBE3CE;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.dashboard-header {
  width: 100%;
  background-color: #FFCC66;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
  height: 60px;
}

.title-image {
  height: 40px;
  width: auto;
  margin-left: 20px;
  object-fit: contain;
}

.profile-icon {
  display: flex;
  align-items: center;
}

.profile-icon img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.logout-button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  width: 100px;
}

.myrestaurant-button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  width: 100px;
  margin-right: 10px;
}

.logout-button:hover {
  background-color: #555;
}

.dashboard-main {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-grow: 1;
  background-color: #FFFFFF;
  width: 80%;
  margin-top: 20px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.statistics-box, .waiting-list-box {
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 45%;
}

.statistics-box {
  order: 2;
}

.waiting-list-box {
  order: 1;
}

.statistics-box h2, .waiting-list-box h2 {
  margin-top: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.date-col {
  width: 15%;
}
.time-col {
  width: 15%;
}
.people-col {
  width: 10%;
}
.name-col {
  width: 20%;
}
.request-col {
  width: 25%;
}
.status-col {
  width: 15%;
}

.accept-button {
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  margin-right: 5px;
}

.reject-button {
  background-color: #FF6347;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  margin-right: 5px;
}

.edit-button {
  background-color: #FFA500;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}

.accepted-text {
  color: blue;
  font-weight: bold;
}

.cancelled-text {
  color: red;
  font-weight: bold;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.pagination button {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 5px 10px;
  margin: 0 5px;
  font-size: 14px; /* 버튼 텍스트 크기 */
  width: 50px;
  border-radius: 3px;
  cursor: pointer;
}

.pagination span {
  font-size: 14px; /* 페이지 번호 텍스트 크기 */
  margin: 0 10px;
}

.pagination button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}