.home-container {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #732e1d;
}

.home-logo {
  height: 40vmin;
  pointer-events: none;
  animation: home-logo-spin infinite 20s linear;
}

@keyframes home-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home-link {
  color: #fbe161;
  margin: 10px 0;
}
