h1 {
  color: #e68a00;
}

.reservation-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.reservation-container h1 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.reservation-container form label {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
}

.reservation-container form input[type="checkbox"],
.reservation-container form select,
.reservation-container form textarea {
  margin-top: 5px;
  margin-bottom: 20px;
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.reservation-container form textarea {
  height: 100px;
  resize: none;
}

.menu-selection {
  margin-top: 20px;
}

.menu-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.menu-item img {
  margin-right: 10px;
  border-radius: 5px;
  object-fit: cover;
}

.menu-item label {
  flex-grow: 1;
}

.menu-item input[type="checkbox"] {
  margin-right: 10px;
}

.menu-item select {
  margin-left: 10px;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3개의 열로 설정 */
  gap: 20px; /* 카드 간의 간격을 설정 */
  margin-top: 20px;
}

.menu-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3개의 열로 설정 */
  gap: 20px; /* 카드 간의 간격을 설정 */
  margin-top: 20px;
}

.reservation-submit-button {
  margin-top: 20px;
  background-color: #ff9800;
  color: white;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.reservation-submit-button:hover {
  background-color: #e68a00;
}